/* Apply a style to the entire body */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #e6eced;
}

/* Style for the H1 heading */
h1 {
    color: #2b9684; /* Dark blue color */
    border-bottom: 2px solid #333366;
    padding-bottom: 10px;
}

/* Style for the paragraph */
p {
    color: #555555; /* Gray color */
    line-height: 1.6;
}
/*Style for the H2 */
h2 {
    color: #005f73;
    margin-top: 30px;
}

nav ul {
    list-style: none;  /*bez teček */
    padding: 0;
    margin: 20px 0; /* mezera kolem menu*/
    display: flex;
    gap: 40px; /*větší mezery mezi položkami */
}

nav ul li a {
    text-decoration: none; /*žádné podtržení */
    color: #450edd;
}