/* Apply a style to the entire body */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

/* Style for the H1 heading */
h1 {
    color: #333366; /* Dark blue color */
    border-bottom: 2px solid #333366;
    padding-bottom: 10px;
}

/* Style for the paragraph */
p {
    color: #555555; /* Gray color */
    line-height: 1.6;
}
.profile-photo {
    width: 150px;         /* šířka obrázku */
    height: 150px;        /* výška obrázku */
    object-fit: cover;    /* ořízne obrázek, aby vyplnil rámeček */
    border-radius: 50%;   /* udělá z rámečku kruh */
    border: 3px solid #333366; 
    display: block;
    margin-block-end: auto ;
}