/* Apply a style to the entire body */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f3ede4;
}
h1 {
  font-family: 'Playfair Display', serif; 
  color: #3b2a1a; 
  text-align: center;
  font-size: 2.4em;
  margin-top: 40px;
  margin-bottom: 20px;
}


/* Style for the paragraph */
p {
    color: #555555; /* Gray color */
    line-height: 1.6;
}

h2 {
  font-family: Georgia, serif;
  color: #5a3e2b; /* tmavě hnědá */
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 20px;
}


.menu {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  background-color: #e6d3b3;
  border: 2px solid #c2a67e;
  border-radius: 20px;
  padding: 8px 16px;
  text-decoration: none;
  color: #5a3e2b;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #c2a67e;
  color: white;
}


hr {
  border: none;
  border-top: 2px solid #c2a67e; 
  margin: 40px 0;
}


